@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-image: url(img/bg.png),
        repeating-linear-gradient(to right, transparent 0 500px, #73814b33 500px 501px);
    background-size: 100%;
}

*::-webkit-scrollbar {
    width: 0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-fit {
    width: min(1200px, 90vw);
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-block: 10em;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    padding-top: 2px;
}